<div id="header">
    <div>
        <a href="/tuxpy">后台管理</a>
        <a onclick="will(event)" href="/feedback">留言</a>
    </div>
</div>
<div id="top">
    <div id="tux_summary">
        欢迎来到"{{ site_options['site_name']}}"<br/>试试把鼠标放到右边的日志标题哦
    </div>
    <div id="top_logo">
        <img src="{{ static_url("images/logo.png") }}" />
    </div>
    <div id="top_name">
        <h1><a href="/">{{ site_options['site_name'] }}</a></h1>
        <span>{{ site_options['site_name_sub'] }}</span>
    </div>
    <div id="top_nav">
        {% for nav in nav_list %}
        {% if nav['is_display'] == 1 %}
        <a href="{{nav['url']}}">{{nav['name']}}</a>
        {% end %}
        {% end %}
    </div>
</div>

