<!Doctype html>
<html>
    <head>
        <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
        <link rel="icon" href="{{static_url("images/favicon.ico")}}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
        <link rel="stylesheet" href="{{ static_url("css/content.css") }}" />
        <link rel="stylesheet" href="{{ static_url("css/index_sider.css") }}" />
        <script type="text/javascript" src="{{ static_url("js/jquery-1.7.1.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/common.js") }}"></script>
        <title>{% block title %}{% end %}</title>
    </head>
    <body>
        {% block header %}
        {% module header('header.html') %}
        {% end %}
        <div id="main">
            <div id="l_main">
                {% block body %}{% end %}
            </div>
            <div id="r_main">
                {% module right('right.html') %}
            </div>
        </div>
        <div id="goToTop">
            <a title="回到顶部"></a>
        </div>
        <div id="tux">
            <img title="网页拉下去，我就不见了哦" src="{{static_url('images/tux.png')}}"/> 
        </div>
        {% block footer %}
        {% module footer('footer.html') %}
        {% end %}

    </body>
</html>
