<div id="side_bar_top"></div>
<div id="side_bar">
    <table>
        <tr><td id="side_bar_1"><a href="/tuxpy/write.py">写博客</a></td></tr>
        <tr><td id="side_bar_2"><a href="/tuxpy/listpage.py">日志</a></td></tr>
        <tr><td id="side_bar_3"><a href="/tuxpy/listsort.py">分类</a></td></tr>
        <tr><td id="side_bar_4"><a href="/tuxpy/listtag.py">标签</a></td></tr>
        <tr><td id="side_bar_5"><a href="/tuxpy/listnav.py">导航</a></td></tr>
        <tr><td id="side_bar_"><a onclick="will(event)" href="/tuxpy/.py">唠叨</a></td></tr>
    </table>
</div>
<div id="side_bar_bottom"></div>

