{% extends "main.html" %}
{% block r_main_title %}
日志管理
{% end %}
{% block body %}

<form name="page_msg_form" method="POST">
    <div class="page_sort_see">
        <a id="_page_all" href="?">全部</a>
        <a id="_page_sort" onclick="filterPage(event, 'page_sort')" href="">分类</a>
        <a id="_page_tag" onclick="filterPage(event, 'page_tag')" href="">标签</a>
    </div>
    <div id="page_filter">
    <div name="page_filter_title" id="page_sort"  href="" style="display:none">
        <strong>分类: </strong>
        {% for sort in sort_list %}
        <a id="_{{sort['uuid']}}" href="?now_sort={{sort['uuid']}}">{{sort['name']}}</a>
        {% end %}
        <a id="_" href="?now_sort=">未分类</a>
    </div>
    <div name="page_filter_title" id="page_tag" href="" style="display:none">
        <strong>标签: </strong>
        {% for tag in tag_list %}
        <a id="_{{tag['name']}}" href="?now_tag={{tag['name']}}">{{tag['name']}}</a>
        {% end %}
    </div>
    </div>
<table class="page_sort_table">
    <thead>
        <tr>
        <th width="5%"></th>
        <th>标题</th>
        <th width="7%">查看</th>
        <th width="15%">分类</th>
        <th width="30%">时间</th>
        <th width="7%">评论</th>
        <th width="7%">阅读</th>
        </tr>
    </thead>
    <tbody>
        {% for blog in blog_list %}
        <tr>
            <td><input  name="blog_checkbox" type="checkbox" style="width:20px" value="{{blog['uuid']}}"></input></td>
            <td>{% if blog.get('is_top', '') == '1' %}<strong style="color:red">↑</strong>{% end %}<a href="/tuxpy/write.py?uuid={{blog['uuid']}}">{{blog['title']}}</a></td>
            <td><a href="/page/{{blog['uuid']}}" target="_blank"><img src="{{static_url('tuxpy/images/see.gif')}}" /></a></td>
            <td><a href="/sort/{{blog['sort_alias']}}">{{blog['sort_name']}}</a></td>
            <td>{{blog['date']}}</td>
            <td>#</td>
            <td>{{blog['view']}}</td>
        </tr>
        {% end %}
    </tbody>
</table>
{% include '../page_navi.html' %}
<li style="color:#666;font-size:14px">选中项: 
<a href="javascript:checkAll(true)">全选</a>
<a href="javascript:checkAll(false)">全不选</a>
<a href="javascript:doBlog('del')">删除</a>
<a href="javascript:doBlog('top')">置顶</a>
<a href="javascript:doBlog('notop')">取消置顶</a>
<select name="sort" onchange="move_blog(this)">
    <option value="-1">移动到分类..</option>
    {% for sort in sort_list %}
    <option value="{{sort['uuid']}}">{{sort['name']}}</option>
    {% end %}
    <option value="">未分类</option>

</select>
</li>

</form>
        <li style="color:red;margin-top:5px">{{mess}}</li>

<script>

    var filter_obj = document.getElementById("{{filter_id}}");
    if (filter_obj){
        filter_obj.setAttribute("style", "font-weight:bold;color:#f00;");
        filter_obj.parentNode.setAttribute("style", "display:block");
        
    }else{
    document.getElementById("_page_all").className = 'page_sort_now'
    }

</script>

{% end %}
