{% extends "main.html" %}
{% block r_main_title %}
右侧功能栏管理
{% end %}
{% block body %}
<form method="POST" action="?order=1">
    <table class="sider_table">
        <thead>
        <tr>
            <th width="6%">序列</th>
            <th width="20%">名称</th>
            <th>描述</th>
            <th width="10%">状态</th>
        </tr>
        </thead>
        <tbody>
            {% for sider in sider_list %}
            <tr>
                <td>
                    <input name="sider_{{sider['uuid']}}" type="text" style="width:90%;text-align:center" value="{{sider['sider_no']}}"/>
                </td> 
                <td>
                    {{sider['sider_title']}}
                </td>
                <td>
                    {{sider['sider_description']}}
                </td>
                <td>
                    <a href="?switch_display={{sider['uuid']}}">
                        {{ '显示' if sider['sider_show'] else '隐藏'}}
                    </a>
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
    <input type="submit" value="排序" />
</form>
{% end %}
